.places__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: underline;
  transition: opacity 0.2s;
}

.places__link:hover {
opacity: 0.8;
}
