/* top div with z-index 2 to make the whole cover section a link */
.cover__link-wrapper {
  display: block;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
