.cover {
  position: relative;
  width: calc(100% - (48px * 2));
  height: 740px;
  background: url(../../images/cover__train-depo.jpg);
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}
